<!-- coleslaw start template="{{ self }}" -->
{% include 'head.html.j2' %}
  <body>
    {% include 'navbar.html.j2' %}
    {% include 'breadcrumb.html.j2' %}

    {% include 'sibling_links.html.j2' %}

    {% include 'javascript.html.j2' %}
  </body>
</html>
<!-- coleslaw end template="{{ self }}" -->
